# Игнор-лист файлов проекта

# Неверсионируемый локальный файл с информацией о выгрузке конфигурации
ConfigDumpInfo.xml

# Неверсионируемый локальный файл журнала билда
/build.log

# Неверсионируемый локальный файл с настройками окружения
/build.env